body {
    font-family: Arial;
    background-color: rgb(42,46,51);
    max-width: 100%;
    max-height: 100%;
}
.container {
    display: flex;
}

/* Middle side */
#SideBoxMiddle {
    height: 785px;
    width: 420px;
    background-color: rgb(42,46,51);
}
#StronaGlowna{
    background-color: rgb(42,46,51);
    color: gray;
    font-size: 1.1em;
    padding: 10px;
}
#StronaGlowna:hover {
    color: white;
}
#searchBar {
    height: 22px;
    width: 300px;
    background-color:rgb(42,46,51) ;
    border: 3px solid rgb(23,30,44);
    font-size: large;
    color: white;
}
#gameNavBar {
    background-color: rgb(42,46,51);
    font-size: 1.1em;
}
.game{
    color: gray;
}
.game:hover {
    color: white;
}
.gamePhoto{
    height: 17px;
    width: 17px;
}
#gameNavBar nav ul{height:700px; width:100%;}
#gameNavBar nav ul{overflow:hidden; overflow-y:scroll;}

/* Middle main */
#MainBoxMiddle{
    height: 785px;
    width: 100%;
    background-color: rgb(42,47,56);
}
.photoBanner {
    height: 350px;
    width: 232px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 12px black;
}
#gamePhotos ul {
    list-style-type: none;
}
.photoBanner:hover {
    box-shadow: 0px 0px 20px #fff;
}
#gamePhotoBar nav ul{height:785px; width:97,5%;}
#gamePhotoBar nav ul{overflow:hidden; overflow-y:scroll;}

/*Upper Part One*/
.boxUpperOne {
    display: flex;
    margin-left: 7px;
    margin-top: 5px;
    font-size: small;
    color: grey;
}
.boxUpperOne:hover {
    color: white;
}
#UpperPartOneOne, #UpperPartOneThree {
    width: 400px;
}
#UpperPartOneTwo {
    width: 100%;
}
#photo1 {
    height: 10px;
}
#box1upper, #box2upper {
    height: 40px;
    width: 100%;
    background-color: rgb(23,30,44);
    display: flex;
}
.arrow {
    height: 40px;
}

/*Upper Part Two*/
.boxUpperTwo{
    display: flex;
    margin-left: 12px;
    margin-top: 2px;
    font-size: 1.21em;
    color: grey;
    background-color: rgb(23,30,44);
}
.boxUpperTwo:hover {
    color: white;
}
#UpperPartTwoOne {
    width: 60px;
    height: 30px;
}

/*Down Part*/
#box1down {
    display: flex;
    height: 55px;
    width: 100%;
    background-color: rgb(42,46,51);
    color: gray;
}
.boxDown {
    display: flex;
}
#downOne {
    margin-top: 14px;
    margin-left: 8px;
    height: 30px;
    width: 30px;
}
#downTwo {
    margin-top: 20px;
    margin-left: 8px;
    width: 100px;
}
#DownPartTwo{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
}
#downFour{
    font-size: small;
    margin-left: 738px;
}
#downThree {
    margin-top: 20px;
    margin-left: 720px;
}
#DownPartThree{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
}
#downSix{
    font-size: small;
    margin-left: 820px;
}
#downFive{
    margin-left: 820px;
    margin-top: 20px;
}
#DownPartOne:hover {
    color: white;
}
#DownPartTwo:hover {
    color: white;
}
#DownPartThree:hover {
    color: white;
}

/* Hidding scroll bars */
/* Don't know how it works :D */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}

html::-moz-scrollbar {
    width: 0.5em;
}

html::-moz-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

html::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}